mixin club(club)
	article(data-ks-editable=editable(user, { list: 'Club', id: club.id })).media
		.media-left
			a(href='/clubs/club/' + club.key)
				img(src="/images/tenues/" +  club.tenue).media-object
		.media-body
			h3.media-heading
				a(href='/clubs/club/' + club.key)= club.name